body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: 	#f7f4f1;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}

.containerWrapper {
  position: fixed;
  background-color: inherit;
  left: 20%;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 60%;
  height: 100%;
  gap: 10px;
  padding: 3px;
}

